/********** GENERAL CONTAINER ***********/

#container {
  background-image: url("../img/fondo.jpg");
  padding: 1rem;
}

#espaciotarea {
  padding: 2rem;
  padding-top: 0rem;
  font-size: 2vw;
  text-align: justify;
  text-justify: inter-word;
  background-color: rgba(255, 255, 255, 0.603);
  padding-bottom: 1.5rem;
  margin-bottom: 8rem;
  height: 500px;
}

/******** Características imágenes general **********/
img {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/*********************************** Actividad ****************************************/

.lista2:first-child {
  color: red;
  font-size: 1vw;
}
.lista2:nth-child(2) {
  color: blue;
  font-size: 2vw;
}

.lista2:nth-last-of-type(3) {
  color: brown;
  font-size: 3vw;
}

.lista2:nth-of-type(4) {
  color: yellow;
  font-size: 4vw;
}

.lista2:last-of-type {
  color: gray;
  font-size: 5vw;
}
